.App{
  background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('./Components/Image/Rectangle\ 1.png');
 
  background-position:center;
  background-size: cover !important;
  height: 100vh;
  background-attachment: fixed;
}
